* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: rgb(233, 233, 233);
}

p, h2, header, a {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

nav li a {
    color: white;
}

.work, .work-head-2, .about-me, .contact, .about-me-heading, .nav, header, .contactli, .work-portfolio {
    display: flex;
    flex-wrap: wrap;
}

.main-tile, .sm-tile {
    display: inline-flex;
    flex-wrap: wrap;
}

header{
    height: 100px;
    background-color: rgb(121, 121, 121);
    align-items: center;
    width: cover;
    background-image: url(../img/Space-Banner.jpg);
    background-size: cover;
    background-position: center;
}

.head {
    color: white;
    background-color: rgb(41, 41, 41);
    border-radius: 0 5px 5px 0;
    padding: 2px;
}

.nav {
    justify-content: flex-end;
    background-color: rgb(122, 1, 1);
}

.nav li {
    list-style-type: none;
    padding: 1%;
}


.splash {
    height: 200px; 
}

.about-me  {
    padding: 1%;
    justify-content: center;
    border-bottom: 1px solid black;
}

.about-me-heading {
    flex: 0 0 10%;
    justify-content: flex-end;
    padding: 1%;
    border-right: 2px black solid; 
}

.about-me-para {
    flex: 0 0 80%;
    margin-left: 1%;
}

.work {
    padding: 1%;
    justify-content: center;
}

.work-head-2 {
    flex: 0 0 10%;
    justify-content: flex-end;
    border-right: 2px black solid;
    padding: 1%;
}

.work-portfolio {
    flex: 0 0 80%;
    margin-left: 1%;
    min-width: 150px;
    min-height: 150px;  
    justify-content: space-between;
}


.work-portfolio section {
    opacity: 30%;
}

.main-tile {
    width: 100%;
}

.sm-tile {
    width: 49%;
}

.sr1, .sr2, .sr3, .sr4, .sr5 {
    border: 3px solid rgb(0, 0, 99)
}

.sr1 {
    flex: 0 0 100%;
    min-height: 400px;
    background-image: url(../img/Horiseon.png);
}

.sr2, .sr3, .sr4, .sr5 {
    flex: 0 0 100%;
    min-height: 200px;
    margin-top: 4px;
}

.sr2 {
    background-image: url(../img/Prework.png);
}

.sr3 {
    background-image: url(../img/Scratch.png)
}

.sr4 {
    background-image: url(../img/Horiseon.png);
}

.sr5 {
    background-image: url(../img/Horiseon.png);
}

.work-portfolio section div div p {
    display: inline-flex;
    position: relative;
    padding: 1%;
    border-radius: 0 5px 5px 0;
    margin-top: 40%;
    margin-bottom: 1%;
    background-color: rgb(0, 181, 212);
}

.contact {
    align-content: center;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.contactli {
    flex: 0 0 80%;
    justify-content: space-around; 
}

.contact-header {  
    font-size: 30px;
    margin: auto;
}

.contactli div {
    margin: auto;
}

.contactli a{
    font-size: 30px;
    color: rgb(0, 4, 255);
}

@media screen and (max-width: 600px) {
    .contactli, .contact-header{
        flex-direction: column;
        align-items: center;
    }
    .contactli {
        margin-left: 1%;
    }
    .about-me-heading {
        border-right: none;
        flex: 0 0 30%;
        text-decoration: underline;
    }
    .work-head-2 {
        border-right: none;
        flex: 0 0 18%;
        text-decoration: underline;
    }
}

@media screen and (max-width: 900px) {
    .contact {
        flex-direction: column;
    }

}

@media screen and (max-width: 1200px) {
    .contact {
        justify-content: center;
    }
    
}
    

.work-portfolio section:hover {
    opacity: 100%;
    transition: 500ms;
}